In [222]:
import pandas as pd
import os
import ast

In [223]:
# Importing the CSV and saving it as a Pandas DataFrame

pwd = os.getcwd()
filepath = pwd + '/case1.csv'
city_data = pd.read_csv(filepath)
del city_data['index']

# Description of the CSV: This file contains championship data from 1870-2018, including teams, sports, and results.

# "key" column: city, state
# "values" column: list of dictionaries; each dictionary is a year (ascending) that a team from that city won a championship
# "seasons" column: how many seasons of each sports league have taken place in the city

In [224]:
# Each "values" value is a string, it needs to be a list of dictionaries

# Remove the brackets at the beginning of each string
def remove_brackets(string):
    remove_front = string.replace('[', '')
    remove_back = remove_front.replace(']', '')
    return remove_back

In [225]:
# Turn the string into a list, separated by dictionary brackets

def string_to_list(string):
    new_list = []
    new_string = ''
    for i in string:
        if i == '{':
            new_string += i
        elif i == '}':
            new_string += i
            new_list.append(new_string)
            new_string = ''
        else:
            new_string += i
    return new_list

In [226]:
# Remove the ', ' that is at the beginning of every string after the first one in the list

def remove_comma_space(team_list):
    new_team_list = []
    for i in team_list:
        if i[0] == '{':
            new_team_list.append(i)
        else:
            new_team = i[2:]
            new_team_list.append(new_team)
    return new_team_list

In [227]:
# Finally, transform each item in the list from a string into a dictionary. We can now count and manipulate the dictionaries.

def strings_to_dicts(list_of_strings):
    list_of_dicts = []
    for i in list_of_strings:
        result = ast.literal_eval(i)
        list_of_dicts.append(result)
    return list_of_dicts

In [228]:
# Replace the values column (string values) with a new values column that contains lists of dictionaries. 
# Each dictionary contains information about a team that won a championship from that city (year, team, and sport).

champions = []
values_list = city_data['values']

for value in values_list:
    rb = remove_brackets(value)
    stl = string_to_list(rb)
    rcs = remove_comma_space(stl)
    final = strings_to_dicts(rcs)
    champions.append(final)

city_data['values'] = champions
city_data['# of City Championships'] = city_data['values'].str.len()
city_data

,key,values,population,seasons,# of City Championships
0,"Green Bay, WI","[{'year': 1929, 'team': 'Green Bay Packers', '...",320050,"{'mlb': 0, 'nba': 0, 'nfl': 97, 'nhl': 0, 'mls...",14
1,"Sarnia, ON","[{'year': 1934, 'team': 'Sarnia Imperials', 's...",96151,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
2,"Hamilton, ON","[{'year': 1912, 'team': 'Hamilton Alerts', 'sp...",747545,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 5, 'mls'...",15
3,"Regina, SK","[{'year': 1966, 'team': 'Saskatchewan Roughrid...",236481,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",4
4,"Edmonton, AB","[{'year': 1954, 'team': 'Edmonton Eskimos', 's...",1321426,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 39, 'mls...",19
...,...,...,...,...,...
313,"Harrison, NY",[],28340,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",0
314,"Orange City, IA",[],6179,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",0
315,"Bolivar, MO",[],10795,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",0
316,"Kirksville, MO",[],17519,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",0
317,"Valley City, ND",[],87650,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",0