In [93]:
import pandas as pd
import os
import ast

In [94]:
# Importing the CSV and saving it as a Pandas DataFrame

pwd = os.getcwd()
filepath = pwd + '/case1.csv'
city_data = pd.read_csv(filepath)
del city_data['index']

# Description of the CSV: This file contains data from 1870-2018, including teams, sports, and results.

# "key" column: city, state
# "values" column: list of dictionaries; each dictionary is a year (ascending) that a team from that city was formed
# "seasons" column: how many seasons of each sports league have taken place in the city

In [95]:
# use matplotlib scatter

In [96]:
# Create a column to see how many teams a city has

first = city_data['values'][1]
print(first)
print(type(first))
print(len(first))

# Each "values" value is a string, it needs to be a list of dictionaries

first = first.replace('[', '')
first = first.replace(']', '')
print(first)

def string_to_list(string):
    new_list = []
    new_string = ''
    for i in string:
        if i == '{':
            new_string += i
        elif i == '}':
            new_string += i
            new_list.append(new_string)
            new_string = ''
        else:
            new_string += i
    return new_list

first_STL = string_to_list(first)
print(first_STL)

def remove_comma_space(team_list):
    new_team_list = []
    for i in team_list:
        if i[0] == '{':
            new_team_list.append(i)
        else:
            new_team = i[2:]
            new_team_list.append(new_team)
    return new_team_list

first_RCS = remove_comma_space(first_STL)
print(first_RCS)


result = ast.literal_eval(first_RCS[0])
print(result, type(result))

#city_data["City Teams"] = 1
#print(city_data["City Teams"])
city_data.head(5)

[{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'}, {'year': 1936, 'team': 'Sarnia Imperials', 'sport': 'cfl'}]
<class 'str'>
120
{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'}, {'year': 1936, 'team': 'Sarnia Imperials', 'sport': 'cfl'}
["{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'}", ", {'year': 1936, 'team': 'Sarnia Imperials', 'sport': 'cfl'}"]
["{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'}", "{'year': 1936, 'team': 'Sarnia Imperials', 'sport': 'cfl'}"]
{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'} <class 'dict'>

,key,values,population,seasons
0,"Green Bay, WI","[{'year': 1929, 'team': 'Green Bay Packers', '...",320050,"{'mlb': 0, 'nba': 0, 'nfl': 97, 'nhl': 0, 'mls..."
1,"Sarnia, ON","[{'year': 1934, 'team': 'Sarnia Imperials', 's...",96151,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'..."
2,"Hamilton, ON","[{'year': 1912, 'team': 'Hamilton Alerts', 'sp...",747545,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 5, 'mls'..."
3,"Regina, SK","[{'year': 1966, 'team': 'Saskatchewan Roughrid...",236481,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'..."
4,"Edmonton, AB","[{'year': 1954, 'team': 'Edmonton Eskimos', 's...",1321426,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 39, 'mls..."