In [93]:
import pandas as pd
import os

In [94]:
# Importing the CSV and saving it as a Pandas DataFrame

pwd = os.getcwd()
filepath = pwd + "/case1.csv"
chip_data = pd.read_csv(filepath)
del chip_data["index"]

chip_data['values'][1]
# Description of the CSV: This file contains data from 1870-2018, including teams, sports, and results.

# "key" column: city, state
# "values" column: list of dictionaries; each dictionary is a year (ascending) that a team from that city was formed
# "seasons" column: how many seasons of each sports league have taken place in the city

"[{'year': 1934, 'team': 'Sarnia Imperials', 'sport': 'cfl'}, {'year': 1936, 'team': 'Sarnia Imperials', 'sport': 'cfl'}]"

In [95]:
# use matplotlib scatter

In [96]:
# Create a column to see how many teams a city has

city_teams = []
for value in list(chip_data["values"]):
    city_teams.append(len(value))

chip_data["City Teams"] = city_teams
print(chip_data["City Teams"])
chip_data.tail(35)

0       854
1       120
2       926
3       272
4      1135
       ...
313       2
314       2
315       2
316       2
317       2
Name: City Teams, Length: 318, dtype: int64

,key,values,population,seasons,City Teams
283,"Old Westbury, NY",[],4743,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
284,"Portsmouth, OH",[],20422,"{'mlb': 0, 'nba': 0, 'nfl': 4, 'nhl': 0, 'mls'...",2
285,"Pottsville, PA",[],13738,"{'mlb': 0, 'nba': 0, 'nfl': 4, 'nhl': 0, 'mls'...",2
286,"Albany, GA",[],3038,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
287,"Battle Creek, MI",[],51534,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
288,"Chico, CA",[],91567,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
289,"Dubuque, IA",[],58531,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
290,"Florence, SC",[],38317,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
291,"Lakeland-Winter Haven, FL",[],666149,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
292,"Owensboro, KY",[],59273,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
293,"Pueblo, CO",[],110291,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
294,"Rockford, IL",[],147651,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
295,"Wyoming Valley, PA",[],563631,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
296,"Vallejo-Fairfield, CA",[],440207,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
297,"Walla Walla, WA",[],32132,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
298,"Marion, OH",[],36310,"{'mlb': 0, 'nba': 0, 'nfl': 2, 'nhl': 0, 'mls'...",2
299,"Granville, OH",[],5646,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
300,"Due West, SC",[],1292,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
301,"Columbus, GA",[],197485,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
302,"Hampden-Sydney, VA",[],1450,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
303,"Maryville, TN",[],28703,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
304,"Quantico, VA",[],540,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
305,"Indianola, IA",[],15785,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
306,"Buckhannon, WV",[],5612,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
307,"Cheyney, PA",[],988,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
308,"Cleveland, MS",[],12101,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
309,"Oskaloosa, IA",[],11523,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
310,"Brockport, NY",[],8319,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
311,"Findlay, OH",[],41422,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
312,"Hilo, HI",[],43263,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
313,"Harrison, NY",[],28340,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
314,"Orange City, IA",[],6179,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
315,"Bolivar, MO",[],10795,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
316,"Kirksville, MO",[],17519,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2
317,"Valley City, ND",[],87650,"{'mlb': 0, 'nba': 0, 'nfl': 0, 'nhl': 0, 'mls'...",2